<div>
    <div class="submit-form">
      <div *ngIf="!submitted">
        <div class="form-group">
          <label for="file">Name</label>
          <input
            type="text"
            class="form-control"
            id="name"
            required
            [(ngModel)]="file.name"
            name="name"
          />
        </div>
  
        <div class="form-group">
          <label for="url">Url</label>
          <input
            class="form-control"
            id="url"
            required
            [(ngModel)]="file.url"
            name="url"
          />
        </div>
  
        <button (click)="saveFile()" class="btn btn-success">Submit</button>
      </div>
  
      <div *ngIf="submitted">
        <h4>File was submitted successfully!</h4>
        <button class="btn btn-success" (click)="newFile()">Add</button>
      </div>
    </div>
  </div>