<div *ngFor="let fileType of filesAllowed; let i = index">
  <div *ngIf="sendFilesFilteredLength(fileType.extension)!>0">
    <div class="card">
      <div class="card-header">
        <h2 class="card-title">{{ fileType.name }}</h2>
      </div>
      
      <div class="card-body">
        <app-files-table 
            [fileTypeExtension]='fileType.extension'
            [filesFiltered]='sendFilesFiltered(fileType.extension)'
            [filesFilteredLength]='sendFilesFilteredLength(fileType.extension)'
        >
        </app-files-table>
      </div>
    </div>
  </div>
</div>
    

<div class="alert alert-danger" role="alert" *ngIf="errorMessage!=''">
  <h3>{{ errorMessage }}</h3>
</div>