<div class="card">
    <div class="card-header">
        <h5>Created files</h5>
    </div>
    
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-striped table-sm">
              <thead>
                <tr>
                  <th scope="col">Id</th>
                  <th scope="col">Name</th>
                  <th scope="col" >Extension</th>
                  <th scope="col">Is enabled?</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let fileAllowed of filesAllowed; let i = index">
                  <td>{{ fileAllowed.id }}</td>
                  <td>{{ fileAllowed.name }}</td>
                  <td>{{ fileAllowed.extension }}</td>
                  <td> 
                      <input 
                        type="checkbox" 
                        checked="{{ fileAllowed.is_active }}"
                        (click)="onClick(fileAllowed, $event)">
                    </td>
                </tr>
              </tbody>
            </table>
    </div>
</div>
