<div class="card">
    <div class="card-header">
        <h5>Created files</h5>
    </div>
    
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-striped table-sm">
              <thead>
                <tr>
                  <th scope="col">Name</th>
                  <th scope="col" >Extension</th>
                  <th scope="col">Is enabled?</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let fileAllowed of filesAllowed; let i = index">
                  <td>{{ fileAllowed.name }}</td>
                  <td>{{ fileAllowed.extension }}</td>
                  <td *ngIf="fileAllowed.is_active; else elseBlock"> 
                      <input type="checkbox" checked (click)="onClick(fileAllowed, $event)">
                    </td>
                    <ng-template #elseBlock><input type="checkbox" (click)="onClick(fileAllowed, $event)"></ng-template>
                </tr>
              </tbody>
            </table>
    </div>
</div>
</div>

<div class="card">
  <div class="card-header">
      <h5>Set up size file</h5>
  </div>
  
  <div class="card-body">
    <p class="card-text">Choose max size allowed to upload files.</p>

    <input class="form-control" type="text" [(ngModel)]="maxSizeFile">
  </div>
  <div class="card-body">
    <button (click)="onUpdate()" 
        class="btn btn-success">
        Update
    </button>
  </div>

  <div class="container">
    <h3>{{ message }}</h3>
  </div>
</div>
