
<div class="card">
    <div class="card-header">
        <h5>Upload file</h5>
    </div>
    
  <div class="card-body">
    <p class="card-text">Choose the file to be uploaded.</p>

    <input class="form-control" type="file" 
            (change)="onChange($event)"
            accept="{{ extensions }}">
  </div>
  <div class="card-body">
    <button (click)="onUpload()" 
        class="btn btn-success">
        Upload
    </button>
  </div>

  <div class="container" *ngIf="loading">
    <h3>Loading ...</h3>
</div>

</div>